<form>
    <div>
        title:
        <input id="question-title"value="<%= @question.title %>"></input>
    </div>
    <div>
        content: 
        <input id="actual-question-content" value="<%=@question.content%>"> </input>
    </div>
    <button type="submit">submit</button>
</form>