<button>new comment</button>
      <form action="/comments/10" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="&#x2713;" /><input type="hidden" name="_method" value="patch" />
  
    <div class="field">
      <label for="comment_content">Content</label>
      <textarea name="comment[content]" id="comment_content">
I am the content of a comment on a question.</textarea>
    </div>
  
    <div class="field">
      <label for="comment_question_id">Question</label>
      <input type="number" value="5" name="comment[question_id]" id="comment_question_id" />
    </div>
  
    <div class="field">
      <label for="comment_answer_id">Answer</label>
      <input type="number" name="comment[answer_id]" id="comment_answer_id" />
    </div>
  
    <div class="actions">
      <input type="submit" name="commit" value="Update Comment" data-disable-with="Update Comment" />
    </div>
  </form>