body {
  font-family: monospace;
}

header {
  position: fixed;
  top: 0px;
  width: 100vw;
}

#site-header {
  width: 100%;
  height: 4rem;
  background-color: black;
}

#page-header {
  width: 100%;
  height: 3rem;
  background-color: rgb(78, 78, 78);
}
/* HEADER: SIGN IN WRAP -OR- PROFILE WRAP */
#header-sign-in-buttons-wrap,
#header-profile-wrap {
  float: right;
  border: dotted orange 2px;
}
.star-wrap {
  width: 3rem;
  height: 3rem;
  border: dotted turquoise 2px;
  float: right;
  background-color: turquoise;
}

.star-content {
  width: 100%;
  height: 100%;
  border: green dotted 3px;
  background-image: url(star.png);
  background-size: contain;
}

#page-frame {
  margin-top: 7rem;
}

footer {
  width: 100%;
  height: 1rem;
  background-color: black;
  position: fixed;
  bottom: 0px;
}
