body {
  font-family: monospace;
}

header {
  position: fixed;
  top: 0px;
  width: 100vw;
  color: white;
}

#site-header {
  width: 100%;
  height: 3.7rem;
  background-color: black;
}

#site-title {
  padding: 1rem;
  display: inline-block;
  font-size: 1.5rem;
}

#page-header {
  width: 100%;
  height: 3rem;
  background-color: rgb(78, 78, 78);
}
/* HEADER: SIGN IN WRAP -OR- PROFILE WRAP */
#header-sign-in-buttons-wrap,
#header-profile-wrap {
  margin-top: 10px;
  float: right;
  width: 320px;
  height: 2.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding-right: 0.5rem;
}

#stars-wrap {
  height: 3rem;
}
#outter-star-wrap {
  width: 3rem;
  float: right;
  margin-right: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.star-wrap {
  width: 2rem;
  height: 2rem;
  background-color: turquoise;
}

#teach-star-wrap {
  background-color: rgba(87, 3, 130, 0.946);
}
#learn-star-wrap {
  background-color: magenta;
}
#create-star-wrap {
  background-color: rgb(106, 9, 242);
  color: gray;
}

.star-count {
  transform: translate(0px, 3px);
  color: rgba(255, 255, 255, 0.775);
}

.star-content {
  width: 100%;
  height: 100%;
  background-image: url(star.png);
  background-size: contain;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center;
}

#header-user-name {
  clear: right;
  background-color: rgba(128, 128, 128, 0.631);
  padding: 0.5rem;
  border-radius: 10px;
}

#page-frame {
  margin-top: 7rem;
}

footer {
  width: 100%;
  height: 1rem;
  background-color: black;
  position: fixed;
  bottom: 0px;
  padding: 0.5rem;
  color: white;
}
