/* on question show page */

#question-page-wrap {
  /* border: dotted orange 5px; */
  padding-left: 20vw;
  padding-right: 20vw;
  /* border: solid 1px white; */
  margin-top: 2rem;
}

#question-page-question-wrap {
  margin-top: 1.75rem;
  padding: 1rem;
  padding-top: 1.5rem;
  display: flex;
  min-height: 40vh;
  /* background-color: rgba(128, 129, 129, 0.452); */
  /* box-shadow: 0px -5px 5px darkgray; */
  /* border: solid rgb(85, 84, 84) 1px; */
  border: solid pink 1px;
  border-radius: 5px;
  background-color: white;
}

#question-status-wrap {
  width: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

#question-content-wrap {
  /* border: dotted gainsboro 1px; */
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 3rem;
  padding-left: 2rem;
  padding-right: 4rem;
  background-color: white;
  line-height: 1.5rem;
}

#question-title {
  /* background-color: rgba(58, 58, 53, 0.884); */
  height: 1.5rem;
  font-size: 2rem;
  border-radius: 5px;
  padding: 0.1rem;
  color: darkgray;
  letter-spacing: 0.3rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
}

#actual-question-content {
  flex-grow: 3;
  padding-top: 2rem;
  padding-bottom: 2rem;
  /* border: dotted blue 2px; */
  border-bottom: dotted gainsboro 1px;
}

#question-content-tags-wrap {
  width: 100%;
  padding: 0.25rem;
  display: flex;
  flex-wrap: wrap;
}

.tag {
  margin: 0.5rem;
  background-color: gainsboro;
  border-radius: 3px;
  padding: 3px;
}
.question-star-vote {
  text-decoration: none;
  padding: 0.5rem;
  color: gainsboro;
  font-size: 1.5rem;
}

.question-star-vote:hover {
  text-decoration: none;
  color: darkgray;
  font-weight: bold;
}

#question-stars-wrap {
  position: relative;
  width: 2.5rem;
  height: 2.5rem;
}

#question-stars-count {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  font-size: 0.5rem;
  transform: translate(0px, -0.15rem);
}

#question-stars-star {
  position: absolute;
  top: 0px;
  font-size: 2.5rem;
  color: rgb(174, 0, 255);
  transform: scale(1.2) translate(0px, -5px);
}

#question-comments-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-right: 7rem;
}
.comment-wrap {
  /* background-color: rgba(64, 224, 208, 0.808); */
  /* background-color: rgb(190, 255, 248); */
  width: 70%;
  /* border: solid gray 7px; */
  padding: 1rem;
  margin-top: 1rem;
  line-height: 1.3rem;
  background-color: rgb(243, 243, 243);
  border: dotted magenta 3px;
  /* border: solid rgb(85, 84, 84) 7px; */
}

.answer-wrap {
  border: dotted magenta 2px;
  padding-left: 2rem;
}
