form {
  font-family: monospace;
}

/* on tutorial index page */
#tutorials-index-frame {
  width: 80%;
  margin: auto;
  /* border: dotted orange 5px; */
  display: flex;
  flex-direction: column;

  font-family: sans-serif;
  justify-content: space-between;
  
}


.tutorial-index-wrap {
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 1rem 1rem 2rem 1rem;
  line-height: 1.75rem;
  border-radius: 5px;
  background-color: white;
}

#add-tutorial-form-controls {
  position: absolute;
  right: 4rem;
}

#create-tutorial-form {
  position: absolute;
  right: 15vw;
  top: 7rem;
  /* border: solid green 1px; */
  padding: 1rem;
  
  background-color: white;
  box-shadow: -5px 5px 15px darkgray;
  border-radius: 5px;
  border: solid gray 5px;
  width: 350px;
  height: 450px;
}
#create-tutorial-form form:nth-child(1) {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}


#create-tutorial-form input {
  width: 90%;
  padding: 0.5rem;
  border: dotted gainsboro 1px;
  margin: 0.75rem;
}


/* SHOW TUTORIAL PAGE: */
#tutorial-header-frame {
  width: 100%;
  border: solid magenta 3px;
  z-index:-1;
}

iframe {
  border: 15px black solid;
}

#tutorial-video-and-nav {
  border: green dotted 5px;
  width: 560px;
  float: right;
  margin-right: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#video-question-page-anchors {
  height: 100px;
  width: 100%;
  border: dotted pink 4px;
}

.show-tutorial-link {
  z-index: 100;
}


/* new styles */
#tutorial-display-wrap {
  position: fixed;
  top: 7rem;
  left: calc(5vw);
  border: dotted orange 3px;
}

#show-tutorial-page-wrap {
  border: solid purple 5px;
  width: 50vw;
  margin-left: calc(30vw);
  padding-left: 1.5rem;
}