form {
  font-family: monospace;
}
#add-tutorial-header {
  color: gray;
}

.see-tutorial-link {
  background-color: darkgray;
  padding: 0.5rem;
  align-self: flex-end;
  margin-top: 0.5rem;
  display: flex;
  justify-content:center;
  letter-spacing: .21rem;
}
.see-tutorial-link a {
  display: inline-block;
  color: white;
}

.see-tutorial-link:hover {
  background-color: blue
}
.see-tutorial-link a:hover {
  display: inline-block;
  color: white;

}


/* on tutorial index page */
#tutorials-index-frame {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;

  font-family: sans-serif;
  justify-content: space-between;
}

.tutorial-index-wrap {
  line-height: 1.5rem;
  margin-top: 2rem;
  margin-left: 3rem;
  border-radius: 5px;
  background-color: gray;
  width: 25vw;
  border: solid rgb(68, 72, 79) 5px;
}

.tutorial-index-wrap h3 {
  background-color: rgb(68, 72, 79);
  padding: 1rem;
  margin-bottom: 0.5rem;
}
.tutorial-index-wrap li {
  padding-left: 1rem;
}


#add-tutorial-form-controls {
  position: absolute;
  right: 4rem;
}

#create-tutorial-form {
  position: absolute;
  right: 15vw;
  top: 8.5rem;
  padding: 1rem;
  background-color: white;
  box-shadow: -5px 5px 15px black;
  border-radius: 5px;
  border: solid gray 5px;
  width: 400px;
  height: 450px;
}
#create-tutorial-form form:nth-child(1) {
  height: 100%;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}

#create-tutorial-form input {
  width: 100%;
  padding: 0.5rem;
  border: dotted gainsboro 1px;
  margin: 0.5rem;
  color: gainsboro;
}

#edit-tutorial-form {
}
#edit-tutorial-form input {
  width: 80%;
  padding: 0.5rem;
}

button {
  margin-top: 1rem;
}

/* SHOW TUTORIAL PAGE: */
#tutorial-header-frame {
  width: 100%;
  border: solid magenta 3px;
  z-index: -1;
}

#tutorial-video-and-nav {
  border: blue dotted 5px;
  width: 560px;
  float: right;
  margin-right: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#video-question-page-anchors {
  height: 100px;
  width: 100%;
  border: dotted pink 4px;
}

.show-tutorial-link {
  z-index: 100;
}

/* new styles */
#tutorial-display-wrap {
  position: fixed;
  top: 10rem;
  left: calc(15vw);
  max-width: 350px;
  background-color: black;
  padding: 2rem;
  line-height: 1.5rem;
  border-radius: 5px;
  border: darkgray 5px solid;
  font-family: monospace;
}

#show-tutorial-page-wrap {
  width: 50vw;
  margin-left: calc(40vw);
  padding-left: 1.5rem;
}

.question-tutorial-show-wrap {
  width: 70%;
  padding: 1rem;
  background-color: white;
  margin-bottom: 1rem;
  line-height: 1.5rem;
  border-radius: 5px;
  border: solid 3px rgb(39, 34, 147);
  display: flex;
  flex-direction: column;
  align-content: center;
}

.question-tutorial-show-wrap * {
  display: inline-block;
}
