form {
  font-family: monospace;
}

/* on tutorial index page */
#tutorials-index-frame {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;

  font-family: sans-serif;
  justify-content: space-between;
  
}


.tutorial-index-wrap {
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 1rem 1rem 2rem 1rem;
  line-height: 1.75rem;
  border-radius: 5px;
  background-color: white;
}

#add-tutorial-form-controls {
  position: absolute;
  right: 4rem;
}

#create-tutorial-form {
  position: absolute;
  right: 15vw;
  top: 7rem;
  padding: 1rem;
  background-color: white;
  box-shadow: -5px 5px 15px darkgray;
  border-radius: 5px;
  border: solid gray 5px;
  width: 350px;
  height: 450px;
}
#create-tutorial-form form:nth-child(1) {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}


#create-tutorial-form input {
  width: 90%;
  padding: 0.5rem;
  border: dotted gainsboro 1px;
  margin: 0.75rem;
}


#edit-tutorial-form {

 
}
#edit-tutorial-form input {
  width: 80%;
  padding: 0.5rem;
}

button {
  margin-top: 1rem;
}


/* SHOW TUTORIAL PAGE: */
#tutorial-header-frame {
  width: 100%;
  border: solid magenta 3px;
  z-index:-1;
}








#tutorial-video-and-nav {
  border: blue dotted 5px;
  width: 560px;
  float: right;
  margin-right: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#video-question-page-anchors {
  height: 100px;
  width: 100%;
  border: dotted pink 4px;
}

.show-tutorial-link {
  z-index: 100;
}


/* new styles */
#tutorial-display-wrap {
  position: fixed;
  top: 10rem;
  left: calc(15vw);
  max-width: 350px;
   background-color: black;
  padding: 2rem;
  line-height: 1.5rem;
  border-radius: 5px;
  border: darkgray 5px solid;
  font-family:monospace;
}

#show-tutorial-page-wrap {
  /* border: solid purple 5px; */
  width: 50vw;
  margin-left: calc(40vw);
  padding-left: 1.5rem;
}

.question-tutorial-show-wrap {
  width: 70%;
  padding: 1rem;
  background-color: white;
  margin-bottom: 1rem;
  line-height: 1.5rem;
  border-radius: 5px;
  border: solid 3px  rgb(39, 34, 147);
  display: flex;
  flex-direction: column;
  align-content: center;
}

.question-tutorial-show-wrap * {
  display: inline-block;
  /* border: magenta 1px solid; */
}