<div id="header-profile-wrap">
    <div id="stars-wrap">
        <div id="outter-star-wrap">
            <div id="teach-star-wrap" class="star-wrap">
                <div id="teach-star-content" class="star-content">

                </div>
            </div>
            <p>teach</p>
        </div>
        <div id="outter-star-wrap">
            <div id="learn-star-wrap" class="star-wrap">
                <div id="learn-star-content" class="star-content">

                </div>
            </div>
            <p>learn</p>
        </div>

        <div id="outter-star-wrap">
            <div id="create-star-wrap" class="star-wrap">
                <div id="create-star-content" class="star-content">

                </div>
            </div>
            <p>create</p>
        </div>

    </div>
    <div id="header-user-name">hi, user-name</div>
</div>